<div *ngIf="show == null">
  <app-loader></app-loader>
</div>

<div class="vehicles" *ngIf="show">
  <div
    *ngFor="let vehicle of vehicles"
    class="vehicles__card"
    (click)="goDetail(vehicle._id)"
  >
    <img src="{{ vehicle.images[0] }}" class="vehicles__card-img" />
    <div class="vehicles__card-div">
      <p class="vehicles__card-div-p">{{ vehicle.brand }}</p>
      <p class="vehicles__card-div-p">{{ vehicle.model }}</p>
    </div>
    <div class="vehicles__card-div">
      <p class="vehicles__card-div-p">{{ vehicle.year }} |</p>
      <p class="vehicles__card-div-p">{{ vehicle.kilometres }} km</p>
    </div>
    <div class="vehicles__card-div">
      <p class="vehicles__card-div-p">{{ vehicle.city }} |</p>
      <p class="vehicles__card-div-p">{{ vehicle.state }}</p>
    </div>
    <div class="vehicles__card-div">
      <p class="vehicles__card-div-precio">${{ vehicle.price }}</p>
    </div>
  </div>
</div>
