.vehicles {
  gap: 30px 20px;
  margin: 0 auto;
  display: grid;
}

.vehicles__card {
  max-width: 300px;
  padding: 20px;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.vehicles__card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.vehicles__card-div {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.vehicles__card-div-p {
  margin: 0 2px;
  white-space: nowrap;
}

.vehicles__card-div-precio {
  color: green;
  font-size: 2rem;
  font-weight: 700;
  margin: 10px 0;
}

@media (min-width: 600px) {
  .vehicles {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .vehicles {
    grid-template-columns: repeat(3, 1fr);
  }
}
