<div class="vehicles">
  <div *ngFor="let vehicle of vehicles" class="vehicles__card" >
    <img src={{vehicle.images[0]}}  class="vehicles__card-img"/>
    <div class="vehicles__card-div">
      <p>{{ vehicle.brand }}</p>
      <p>{{ vehicle.model }}</p>
    </div>
    <div class="vehicles__card-div">
      <p>{{ vehicle.year }} |</p>
      <p>{{ vehicle.kilometres }} km</p>
    </div>
    <div class="vehicles__card-div">
      <p>{{ vehicle.city }} |</p>
      <p>{{ vehicle.state }}</p>
    </div>
    <div class="vehicles__card-div">
      <p>{{ vehicle.price }}</p>
    </div>
  </div>
</div>
