<div>
    <div>
        <h2>Ordenar por</h2>
        <p (click)="getVehiclesByPrice()">De menor a mayor precio</p>
        <p>De mayor a menor precio</p>
    </div>
    <div>
        <h2>Filtrar por </h2>
        <div>
            <h3>Condicion</h3>
            <p>Nuevos</p>
            <p>Usados</p>
        </div>
        <div>
            <h3>Provincias</h3>
            <p>Cordoba</p>
            <p>Mendoza</p>
        </div>
        <div>
            <h3>Marcas</h3>
            <p>Chevrolet</p>
            <p>Fiat</p>
            <p>Ford</p>
        </div>
    </div>
</div>


