<div class="footer">
    <div class="footer__texts">
      <div class="footer__texts-grup">
        <div>
          <div class="fofosaof">
  
            <a href="https://notech-company.vercel.app" target="_blank">
              <img
                src="/assets/NOTECH.png"
                class="footer__texts-grup-notech"
              />
            </a>
            <p class="contacto_parrafo">{{ "NAV.CONTACT" | translate }}</p>
            <p>contacto@gmail.com</p>
          </div>
        </div>
        <div class="footer__imagenes">
         
        </div>
      </div>
      <div class="footer__texts-copy">
        <p>© AutoMarket 2023. All rights reserved.</p>
      </div>
    </div>
  </div>