<div class="footer">
    <img src="../../../assets/icons/footerWave.png" width="100%" />
    <div class="footer__texts">
      <div class="footer__texts-grup">
        <div>
          <div class="fofosaof">
  
            <a href="https://notech-company.vercel.app" target="_blank">
              <img
                src="/assets/icons/NOTECH.png"
                class="footer__texts-grup-notech"
              />
            </a>
            <p class="contacto_parrafo">{{ "NAV.CONTACT" | translate }}</p>
            <p>contacto@gmail.com</p>
          </div>
        </div>
        <div class="footer__imagenes">
          <img
            class="footer__imagenes-img"
            src="../../../assets/icons/app-store.png"
          />
          <img
            class="footer__imagenes-img"
            src="../../../assets/icons/google-play.png"
          />
        </div>
      </div>
      <div>
        <p>© Alarm Geo Fire 2023. All rights reserved.</p>
      </div>
    </div>
  </div>