<div class="nav">
  <!-- <img src="assets/icons/title.svg" class="nav__icon" (click)="goHome()" /> -->
  <h2 class="nav__icon" (click)="goHome()" >AutoMarket</h2>
  <div class="nav__links" [ngClass]="{ active: active }">
    <h2 class="nav__links-comunidad" (click)="goHome()" *ngIf="active">
      {{ "NAV.HOME" | translate }}
    </h2>

    <h2 class="nav__links-nosotros" (click)="goVehicles()">
      {{ "NAV.VEHICLES" | translate }}
    </h2>
    <h2 class="nav__links-contacto" (click)="goContact()">
      {{ "NAV.CONTACT" | translate }}
    </h2>
    <h2 class="nav__links-contacto" (click)="goDashboard()">
      dashboard
    </h2>
    <img
      class="nav__links-lenguaje"
      src="../../../assets/icons/es.png"
      (click)="changeLanguage('es')"
      *ngIf="enOn"
    />
    <img
      class="nav__links-lenguaje"
      src="../../../assets/icons/en.png"
      (click)="changeLanguage('en')"
      *ngIf="esOn"
    />
  </div>
  <div class="nav__burguer" (click)="showBurger()">
    <div class="nav__burguer-line-1" [ngClass]="{ active: active }"></div>
    <div class="nav__burguer-line-2" [ngClass]="{ active: active }"></div>
    <div class="nav__burguer-line-3" [ngClass]="{ active: active }"></div>
  </div>
</div>