<div>
  <app-nav />
  <div [ngClass]="{ container: isLargeScreen }" class="mt-4 div">
    <div *ngIf="!activeForm">
      <h3 *ngIf="role === 'admin' || role === 'superAdmin'">
        Bienvenido {{ profile.name }}, eres {{ role }}.
      </h3>
      <div *ngIf="role === 'public'">
        <h2 *ngIf="role === 'public'">Bienvenido al Dashboard</h2>
        <p>
          Si eres personal a cargo o dueño de una consecionaria, y quieres ser
          parte formar parte de nosotros rellena el siguente formulario
        </p>
        <button (click)="toggleActiveForm()">Rellenar formulario</button>
      </div>
    </div>
    <div *ngIf="activeForm">
      <h2>active</h2>
    </div>

    <div *ngIf="role === 'admin ' || role === 'superAdmin'">
      <p>Tu concesionaria es {{ dealership.name }}</p>
    </div>
  </div>

</div>
