<div>
  <app-nav />

  <div [ngClass]="{ container: isLargeScreen }" class="mt-4 div">
    <div>
      <h1>Bienvenido {{ profile.name }}</h1>
      <div>
        <img
          src="{{ user?.imagen }}"
          alt="Foto de perfil"
          class="img-fluid rounded-circle mt-3"
          style="max-width: 150px"
        />

        <a (click)="goProfileEdit()" class="btn btn-primary">Editar perfil</a>
      </div>
    </div>

    <h2>Actividades recientes</h2>
    <ul class="list-group">
      <li class="list-group-item">Actividad 1</li>
      <li class="list-group-item">Actividad 2</li>
      <li class="list-group-item">Actividad 3</li>
    </ul>
    <h2>Estadísticas</h2>
    <p>Estadística 1: {{ profile.stat1 }}</p>
    <p>Estadística 2: {{ profile.stat2 }}</p>
  </div>
</div>
