.row {
  margin: 10px;
}

.dorpfile {
  display: flex;
}
.imageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 0 0;
}
.newImage {
  height: 90px;
  border-radius: 100%;
  margin: 10px;
}
.imagenEditInput {
  color: rgba(255, 255, 255, 0);
  padding: 0;
  margin: 5px 0 0 -4px;
  outline: none;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 3px 15px;
  border-radius: 10px;
}
.buttons {
  margin: 10px 0;
}
@media screen and (max-width: 770px) {
  .div {
    margin: 20px;
  }
}
