<div>
  <h2>home</h2>

  <div class="card flex justify-content-center">
    <p-button label="Check" icon="pi pi-check"  (click)="showSuccess()"></p-button>
  </div>


  <div>
    <div class="card flex justify-content-center gap-2">
      <p-toast></p-toast>
      <button
        type="button"
        pButton
        pRipple
        (click)="showSuccess()"
        label="Success"
        class="p-button-success"
      ></button>
      <button
        type="button"
        pButton
        pRipple
        (click)="showInfo()"
        label="Info"
        class="p-button-info"
      ></button>
      <button
        type="button"
        pButton
        pRipple
        (click)="showWarn()"
        label="Warn"
        class="p-button-warning"
      ></button>
      <button
        type="button"
        pButton
        pRipple
        (click)="showError()"
        label="Error"
        class="p-button-danger"
      ></button>
    </div>
  </div>
</div>
