<div *ngIf="showLoader === false">
  <div class="bodyDashboard">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="showLoader === true">
  <div>
    <div>
      <div class="body">
        <div class="wave" *ngIf="showLoader">
          <img
            class="img"
            src="../assets/icons/navWave.png"
            *ngIf="showLoader"
          />
        </div>
      </div>
    </div>
    <div class="cuerpo">
      <app-nav></app-nav>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>
</div>

<div *ngIf="showLoader == null">
  <app-loader></app-loader>
</div>