<div class="advertisement contenedor">
  <div class="card cards">
    <img
      class="card-img-top img"
      src="https://acroadtripworking.blob.core.windows.net/mipromo/ar/giama-fiat/giama-strada-volcano/hero-s.jpg"
      alt="Publicidad"
    />
    <div class="card-body body">
      <h5 class="card-title">El mejor camino a tu FIAT STRADA VOLCANO</h5>
      <p class="card-text">
        Plan de financiación en cuotas sin interés. Consultá por beneficios para
        clientes de Visa y Master.
      </p>
      <a (click)="goVehicle()" class="btn btn-primary button">Ver más</a>
    </div>
  </div>
  <div class="card cards">
    <img
      class="card-img-top img"
      src="https://acroadtripworking.blob.core.windows.net/mipromo/ar/giama-fiat/giama-fiat-cronos/hero-s.jpg"
      alt="Publicidad"
    />
    <div class="card-body body">
      <h5 class="card-title">¡Acercate a tu nuevo FIAT CRONOS!</h5>
      <p class="card-text">
        Subite a tu Cronos con la mejor financiación. Consultá por beneficios
        para clientes de Visa y Master.
      </p>
      <a (click)="goVehicle()" class="btn btn-primary button">Ver más</a>
    </div>
  </div>
</div>
