<div class="contenedor">
  <div class="contact-form">
    <div class="contact-form__container">
      <div class="contact-form__group">
        <div class="contact-form__label contact-form__label--name">
          Nombre<span class="contact-form__required">*</span>
        </div>
        <div
          class="contact-form__input contact-form__input--name"
          contenteditable="true"
          placeholder="Escribe tu nombre"
        ></div>
      </div>
      <div class="contact-form__group">
        <div class="contact-form__label contact-form__label--email">
          Email<span class="contact-form__required">*</span>
        </div>
        <div
          class="contact-form__input contact-form__input--email"
          contenteditable="true"
          placeholder="Escribe tu Email"
        ></div>
      </div>
      <div class="contact-form__group">
        <div class="contact-form__label contact-form__label--asunto">
          Asunto<span class="contact-form__required">*</span>
        </div>
        <div
          class="contact-form__input contact-form__input--asunto"
          contenteditable="true"
          placeholder="Escribe un asunto"
        ></div>
      </div>
      <div class="contact-form__group">
        <div class="contact-form__label contact-form__label--mensaje">
          Mensaje<span class="contact-form__required">*</span>
        </div>
        <div
          class="contact-form__input contact-form__input--mensaje"
          contenteditable="true"
          placeholder="Deja aquí tu comentario..."
        ></div>
      </div>
      <div class="contact-form__group">
        <div class="contact-form__btn contact-form__btn--submit">
          <p>Enviar</p>
        </div>
        <div class="contact-form__aviso">
          <span class="contact-form__required">*</span>Los campos son
          obligatorios.
        </div>
      </div>
    </div>
  </div>
</div>
