/* styles.scss or your component-specific styles file */

.vehicles-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.vehicles-table td {
  background-color: rgba(248, 249, 250);
  padding: 15px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(39, 39, 39, 0.274);
}

.vehicles__card-img {
  object-fit: cover;
  height: 10rem;
  width: 300px;
}

.vehicles__card-div {
  margin-bottom: 10px;
}

.vehicles__card-div-p {
  margin: 0;
}

.vehicles__card-div-precio {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.buttons {
  align-items: center;
}

.buton,
.butonCancel {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 10px;
}
.butonCancel {
  background-color: #f10606;
}

.buton:hover {
  background-color: #45a049;
}
.butonCancel:hover {
  background-color: #af4c4c;
}
.vehicle {
  transition: all 0.5s ease-in;
}
.vehicles {
  &__inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 5px 25px;
    padding: 20px 10px;
    justify-content: start;
    background-color: rgba(248, 249, 250);
    border-radius: 0 0 15px 15px;

    &-input {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.7s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
