<div *ngIf="vehicles && vehicles.length > 0">
  <h2>Vehicles en consesionaria "{{dealershipName}}"</h2>
  <div *ngFor="let vehicle of vehicles; let i = index">
    <table class="vehicles-table">
      <tr>
        <td>
          <img src="{{ vehicle.images }}" class="vehicles__card-img" />
        </td>
        <td>
          <div class="vehicles__card-div">
            <p class="vehicles__card-div-p">{{ vehicle.brand }} {{ vehicle.model }}</p>
          </div>
          <div class="vehicles__card-div">
            <p class="vehicles__card-div-p">{{ vehicle.year }} | {{ vehicle.kilometres }} km</p>
          </div>
          <div class="vehicles__card-div">
            <p class="vehicles__card-div-p">{{ vehicle.city }} | {{ vehicle.state }}</p>
          </div>
          <div class="vehicles__card-div">
            <p class="vehicles__card-div-precio">${{ vehicle.price }}</p>
          </div>
        </td>
        <td *ngIf="!vehicle.isEditing;">
          <div>
            <button (click)="startEditing(vehicle)">Edit</button>
            <button (click)="deleteVehicle(i)">Delete</button>
          </div>
        </td>
      </tr>
    </table>
    <div *ngIf="vehicle.isEditing">
      <div>
        <label for="brand">Brand:</label>
        <input type="text" name="brand" [(ngModel)]="vehicle.brand" />
        
        <label for="model">Model:</label>
        <input type="text" name="model" [(ngModel)]="vehicle.model" />
        
        <label for="year">Year:</label>
        <input type="number" name="year" [(ngModel)]="vehicle.year">
        
        <label for="kilometres">Kilometres:</label>
        <input type="number" name="kilometres" [(ngModel)]="vehicle.kilometres">
        
        <label for="price">Price:</label>
        <input type="number" name="price" [(ngModel)]="vehicle.price">

        <label for="country">Country:</label>
        <input type="text" name="country" [(ngModel)]="vehicle.country">

        <label for="state">State:</label>
        <input type="text" name="state" [(ngModel)]="vehicle.state">

        <label for="city">City:</label>
        <input type="text" name="city" [(ngModel)]="vehicle.city">

        <label for="sell">Sell:</label>
        <select  name="sell"[(ngModel)]="vehicle.sell">
          <option>true</option>
          <option>false</option>
        </select>
        
        <button (click)="saveEditing(vehicle)">Save</button>
        <button (click)="cancelEditing(vehicle)">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!vehicles || vehicles.length === 0">
  <p>No vehicles found in the child component.</p>
</div>
