<div *ngIf="vehicles && vehicles.length > 0 && vehicles[0]?.price">
  <h2>Vehicles en consesionaria "{{ dealershipName }}"</h2>
  <div *ngFor="let vehicle of vehicles; let i = index">
    <table class="vehicles-table">
      <tr>
        <td>
          <img src="{{ vehicle.images }}" class="vehicles__card-img" />
        </td>
        <td>
          <div class="vehicles__card-div">
            <p class="vehicles__card-div-p">
              {{ vehicle.brand }} {{ vehicle.model }}
            </p>
          </div>
          <div class="vehicles__card-div">
            <p class="vehicles__card-div-p">
              {{ vehicle.year }} | {{ vehicle.kilometres }} km
            </p>
          </div>
          <div class="vehicles__card-div">
            <p class="vehicles__card-div-p">
              {{ vehicle.city }} | {{ vehicle.state }}
            </p>
          </div>
          <div class="vehicles__card-div">
            <p class="vehicles__card-div-precio">${{ vehicle.price }}</p>
          </div>
        </td>
        <td *ngIf="!vehicle.isEditing">
          <div class="buttons">
            <button (click)="startEditing(vehicle)" class="buton">Edit</button>
            <button
              (click)="deleteVehicle(vehicle._id); deleteArray(i)"
              class="butonCancel"
            >
              Delete
            </button>
          </div>
        </td>
      </tr>
    </table>
    <div *ngIf="vehicle.isEditing" class="fade-in">
      <div class="vehicles__inputs">
        <div>
          <label for="brand" class="vehicles__inputs-label">Brand:</label>
          <input
            type="text"
            name="brand"
            [(ngModel)]="vehicle.brand"
            class="vehicles__inputs-input"
          />
        </div>
        <div>
          <label for="model" class="vehicles__inputs-label">Model:</label>
          <input
            type="text"
            name="model"
            [(ngModel)]="vehicle.model"
            class="vehicles__inputs-input"
          />
        </div>
        <div>
          <label for="year" class="vehicles__inputs-label">Year:</label>
          <input
            type="number"
            name="year"
            [(ngModel)]="vehicle.year"
            class="vehicles__inputs-input"
          />
        </div>
        <div>
          <label for="kilometres" class="vehicles__inputs-label"
            >Kilometres:</label
          >
          <input
            type="number"
            name="kilometres"
            [(ngModel)]="vehicle.kilometres"
            class="vehicles__inputs-input"
          />
        </div>
        <div>
          <label for="price" class="vehicles__inputs-label">Price:</label>
          <input
            type="number"
            name="price"
            [(ngModel)]="vehicle.price"
            class="vehicles__inputs-input"
          />
        </div>

        <div>
          <label for="country" class="vehicles__inputs-label">Country:</label>
          <input
            type="text"
            name="country"
            disabled
            [(ngModel)]="vehicle.country"
            class="vehicles__inputs-input"
          />
        </div>
        <div>
          <label for="state" class="vehicles__inputs-label">Provincia:</label>
          <select
            name="state"
            [(ngModel)]="selectedStates"
            class="vehicles__inputs-input"
            (change)="onStateChange()"
          >
            <option [value]="selectedStates" selected>
              {{ vehicle.state }}
            </option>
            <option *ngFor="let state of states" [value]="state.nombre">
              {{ state.nombre }}
            </option>
          </select>
        </div>

        <div>
          <label for="city" class="vehicles__inputs-label">City:</label>
          <select
            name="city"
            [(ngModel)]="vehicle.city"
            class="vehicles__inputs-input"
          >
            <option
              [value]="vehicle.city"
              *ngIf="vehicle.city && !selectedStates"
              selected
            >
              {{ vehicle.city }}
            </option>
            <option *ngFor="let city of citys" [value]="city.nombre">
              {{ city.nombre }}
            </option>
          </select>
        </div>
        <div>
          <label for="sell" class="vehicles__inputs-label">Sell:</label>
          <select
            name="sell"
            [(ngModel)]="vehicle.sell"
            class="vehicles__inputs-input"
          >
            <option>true</option>
            <option>false</option>
          </select>
        </div>
        <div>
          <button (click)="saveEditing(vehicle)" class="buton">Save</button>
          <button (click)="cancelEditing(vehicle)" class="butonCancel">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="vehicles?.length === 0 || !vehicles[0]?.price">
  <app-loaders></app-loaders>
</div>

<div *ngIf="!vehicles || vehicles?.length === 0">
  <p>No vehicles found in the child component.</p>
</div>
