<div class="contenedor">
  <div class="cards">
    <div class="card-body body">
      <h5 class="card-title">¿Sos agencia o concesionaria?</h5>
      <p class="card-text parrafo">
        Si tenés stock de autos usados o sos concesionaria oficial, tenemos
        planes especialmente diseñados para las necesidades de tu negocio.
        ¡Aumentá tu exposición y vendé más rápido!
      </p>
      <button class="btn btn-primary button">Mas informacion</button>
    </div>
    <img
      class="card-img-top img"
      src="https://www.autocosmos.com.ar/img/servicios/card-agencia.svg"
      alt="concesionaria"
    />
  </div>
</div>
